<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144174265268-91ideoh9i7b9mkengife4rjn0c0ro4cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144174265268-91ideoh9i7b9mkengife4rjn0c0ro4cb</string>
	<key>API_KEY</key>
	<string>AIzaSyB5v3qIcIxx4xyaEr5DRoosswkEnFCUn4I</string>
	<key>GCM_SENDER_ID</key>
	<string>144174265268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hunter.OneHealth</string>
	<key>PROJECT_ID</key>
	<string>onehealth-301ad</string>
	<key>STORAGE_BUCKET</key>
	<string>onehealth-301ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144174265268:ios:f8931c65e2d55874dcb8e1</string>
	<key>DATABASE_URL</key>
	<string>https://onehealth-301ad.firebaseio.com</string>
</dict>
</plist>